<ion-header>
	<ion-navbar>
		<ion-title>
			Shopping List
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="shareCart()">
				<ion-icon name="share-alt"></ion-icon>
			</button>
			<button ion-button icon-only (click)="addProduct()">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>

		<ion-item-sliding *ngFor="let item of items">

			<ion-item (click)="toggleItem(item)" [class.row-completed]="item.completed">
				<ion-thumbnail item-left>
						<img src="{{item.product.image}}">
				</ion-thumbnail>
				<div [class.completed]="item.completed">
					{{item.product.name}}
				</div>
				<ion-icon *ngIf="item.completed" name="ios-checkmark" item-right></ion-icon>
			</ion-item>

			<ion-item-options>
				<button ion-button icon-only (click)="removeItem(item)" color="danger">
                    <ion-icon name="trash"></ion-icon>
                </button>
			</ion-item-options>

		</ion-item-sliding>

	</ion-list>
</ion-content>