<ion-header>
	<ion-navbar>
		<ion-title>
			Select product
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="createProduct()">
				<ion-icon style="font-size:40px" name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-list no-lines style="margin-bottom:0px">
		<ion-item style="background-color:#EFEFF4">
			<ion-select [selectOptions]="selectOptions" (ngModelChange)="categorySelected($event)" [(ngModel)]="selectedCategory" interface="action-sheet" class="category-select" multiple="false">
				<ion-option *ngFor="let category of categories" value="{{category.name}}" multiple="false">{{category.name}}</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>
	<div style="height:0.5px;width:100%;background-color:#BBBBBB"></div>

	<ion-slides (ionSlideDidChange)="slideChanged()" style="height: auto">
		
		<ion-slide *ngFor="let category of categories" class="category-slide">
			
			<ion-list>
				
				<ion-item *ngFor="let product of products | productFilter:category" (click)="addProduct(product)">
					
					<ion-thumbnail item-left>
						<img src="{{product.image}}">
					</ion-thumbnail>
					
					{{product.name}}

					<button style="padding-left:10px" ion-button icon-only item-right clear (click)="showProductOptions(product, $event)">
						<ion-icon name="ios-create-outline" style="font-size:30px" item-right></ion-icon>
					</button>
					
				</ion-item>

			</ion-list>

		</ion-slide>

	</ion-slides>

</ion-content>