page-add {

	.category-name
	{
		background-color: rgb(230,230,230);
		padding: 15px;
		text-align: center;
	}

	.category-slide
	{
		vertical-align: top;
		display: inline-block;
	}

	.category-select
	{
		max-width: 100% !important;
		width: 100% !important;
	}
}