<ion-header>
	<ion-navbar>
		<ion-title>
			Add product
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="createProduct()">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-list-header class="list-header">
		<div style="text-align: center">{{categoryName}}</div>
	</ion-list-header>

	<ion-slides (ionSlideDidChange)="slideChanged()" style="height: auto">
		
		<ion-slide *ngFor="let category of categories" class="category-slide">
			
			<ion-list>
				
				<ion-item *ngFor="let product of products | productFilter:category" (click)="addProduct(product)">
					
					<ion-thumbnail item-left>
							<img src="{{product.image}}">
					</ion-thumbnail>
					{{product.name}}
					
				</ion-item>

			</ion-list>

		</ion-slide>

	</ion-slides>

</ion-content>