page-create {

	.category-select {
		max-width: 100% !important;
		width: 100% !important;
	}

	.create-product-button {
		margin-left: 15px  !important;
		margin-right: 15px !important;
	}

	.image-preview {
		max-height: 100px !important;
	}

	.image-preview-container
	{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		padding-left: 100px;
		padding-right: 100px;
	}
}