<ion-header>
	<ion-navbar>
		<ion-title>
			Select image
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	
	<ion-list>
		<ion-item>
			<ion-input (keyup)="inputChanged($event)" type="search" placeholder="Keywords" [(ngModel)]="keywords"></ion-input>
			<button style="padding:10px" ion-button icon-only item-right clear (click)="searchImages()">
				<ion-icon name="ios-search-outline"></ion-icon>
			</button>
		</ion-item>
	</ion-list>

	<ion-grid>
		<ion-row *ngFor="let row of rows" style="margin-bottom: 20px">
			<ion-col *ngFor="let image of row"><img class="image-item" src="{{image}}" (click)="imageSelected(image)"></ion-col>
		</ion-row>
	</ion-grid>

</ion-content>